body {
    background: url("../img/background-2.jpg");
    width: 100%;
    height: 100%;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #48bbed;
}

.button-collapse {
    color: #48bbed;
}

.row {
    margin: 0;
}

#menu {
    width: 25%;
    height: 100%;
    padding: 0;
}

#img-usuario {
    width: 70%;
}

.collapsible-body {
    padding: 0;
    border: none;
    background: #ffffffd4;
}

.collapsible-header {
    border-bottom: none;
}

.row .col.s9 {
    width: 25%;
    height: 742px;
}

.row .col.s9 {
    width: 75%;
    height: 742px;
}

.botao {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

a {
    position: relative;
    left: 22px;
    color: #97a0a4;
    font-size: 18px;
}

#botao a {
    position: relative;
    left: 22px;
    color: #444;
    font-size: 18px;
    background: #f19100
}

#sub-menu {
    margin: 5%;
}

#sub-menu a {
    color: #000;
    font-size: 15px;
    margin: 2%;
}

footer {
    background: #f19100;
    width: 100%;
    height: 50px;
}

h5 {
    padding: 1.1%;
    color: #ffffffc4;
    font-size: 100%;
    margin: 0
}

.titulo {
    background: #fff;
    width: 100%;
    height: 100%;
}

.teal-text.text-lighten-2 {
    color: #f19100 !important;
    top: 3%;
    position: relative;
    font-size: 245%;
}

form {
    position: relative;
    top: 9%;
}