nav {
    background-color: #ffffffbd;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 16px;
    color: #48bbed;
}

.button-collapse {
    color: #48bbed;
}

#cadastro {
    background-color: rgba(153, 153, 153, 0.411);
}

body {
    font-family: Helvetica;
    background: url("../img/background-2.jpg");
    -webkit-font-smoothing: antialiased;
}

hgroup {
    text-align: center;
    margin-top: 4em;
}

h3 {
    color: rgba(253, 253, 253, 0.85);
    top: 40px;
    position: relative;
    font-weight: 300;
}

#login {
    position: relative;
    bottom: 33px;
}

form {
    position: relative;
    width: 340px;
    margin: auto;
    top: 39px;
    padding: 2em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

#btn-cadastrar .btn {
    border-radius: 5px;
    width: 100%;
}

.btn,
.btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #1e7296;
}

.btn:hover,
.btn-large:hover {
    background-color: #1894c1;
}

#voltar {
    color: #000;
    position: relative;
    top: 15px;
}

a {
    color: #FFF;
}

footer {
    text-align: center;
}

footer p {
    color: rgba(253, 253, 253, 0.85);
    font-size: 14px;
    position: relative;
    bottom: -54px;
    margin-bottom: 0;
}