body {
    background: url("../img/adminFundo.jpg");
    width: 100%;
    height: 100%;
}

.material-icons {
    font-size: 45px;
}

.imgLogo {
    border: 0;
    position: absolute;
    width: 4%;
    right: 101%;
    bottom: 23%;
}

.side-nav .user-view,
.side-nav .userView {
    position: relative;
    padding: 100px 32px 0;
    margin-bottom: 21px;
}

.side-nav .subheader {
    font-size: 20px;
}

.side-nav {
    font-size: 20px;
    background: #fff;
}

small.titulo {
    font-size: 17px;
}

.waves-effect {
    padding-left: 60px;
}

.botao {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

#sair {
    font-size: 230%;
}